@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Crea variable para tipografia */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "raleway";
}
 
/* Define estilo del header y menu navbar*/
header {
  background-color: #b1b7d1;
}
header .navbar-nav {
  color: black;
}
header .navbar-nav {
  color: black !important;
}
header .navbar-nav li {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
header .navbar-nav .nav-item1 {
  animation-delay: 0.2s;
}
header .navbar-nav .nav-item2 {
  animation-delay: 0.4s;
}
header .navbar-nav .nav-item3 {
  animation-delay: 0.6s;
}
header .navbar-nav .nav-item4 {
  animation-delay: 0.8s;
}
header .navbar-nav .nav-item5 {
  animation-delay: 1s;
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}


/* DEFINE ESTILO SECCION HERO EN PAGINA INDEX*/
.hero {
  position: relative;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/saludable.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  z-index: 1;
}
.hero h1, .hero p {
  color: black;
}


/* DEFINE ESTILO SECCION-1*/
.seccion-1 {
  background-color: #b1b7d1;
}
.seccion-1 .container .row .h2seccion-1 {
  text-align: center;
}
.seccion-1 .container .row .pseccion-1 {
  text-align: justify;
}
.seccion-1 .container .row .imagen-seccion1 {
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.5s;
}
.seccion-1 .container .row .imagen-seccion1 .img-fluid {
  border-radius: 10%;
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}


/* DEFINE ESTILO SECCION-2*/
.seccion-2 .container .h2seccion-2 {
  text-align: center;
  margin-top: 3;
}
.seccion-2 .container .row .tarjeta {
  text-align: center;
  transition: 1s;
}
.seccion-2 .container .row .tarjeta:hover {
  transform: scale(1.1) translateY(-40px);
}
.seccion-2 .container .row .imagen_cont_2 {
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 10px;
  background-color: #b1b7d1;
  border-radius: 50%;
}


/*DEFINE ESTILO SECCION-3*/
.seccion-3 {
  background-color: #b1b7d1;
}
.seccion-3 .container .row .imagen-seccion3 {
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1.5s;
}
.seccion-3 .container .row .imagen-seccion3 .img-fluid {
  border-radius: 5%;
}
.seccion-3 .container .row .contentseccion-3 .h2seccion-3 {
  animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.seccion-3 .container .row .contentseccion-3 .pseccion-3 {
  text-align: justify;
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/*DEFINE ESTILO DE LA SECCION CONTACTO*/
.contact-section {
  width: 100%;
  margin: 0;
  background-color: #7a6174;
  color: white;
}


/*DEFINE EL ESTILO DEL FOOTER DE TODAS LAS PAGINAS*/
footer {
  background-color: black;
  color: white;
  font-style: italic;
  text-align: center;
}

/* DEFINE ESTILO DE LA SECCION TARJETA UTILIZADA EN LAS PAGINAS CONSULTAS Y SERVICIOS Y RECETAS*/
.card {
  transition: 1s;
}
.card:hover {
  transform: scale(1.1) translateY(-20px);
}
.card .card-body a {
  background-color: #b1b7d1;
  border-color: none;
  color: white;
}
.card .card-body a:hover {
  background-color: #7a6174;
  color: white;
}

/* DEFINE ESTILO DE TODOS LOS BOTONES UTILIZADOS*/
.btn {
  background-color: #b1b7d1;
  border-color: none;
  color: white;
}
.btn:hover {
  background-color: #7a6174;
  color: white;
}

/*DEFINE ESTILO DE ACORDION UTILIZADO EN SECCION PREGUNTAS FRECUENTES*/
.accordion-button {
  background-color: #b1b7d1;
  border-color: none;
  color: white;
}/*# sourceMappingURL=estilo.css.map */